<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="tests">
    <parameter name="url" value="http://kustommade.tk:9980/"/> 
    <classes>
      <class name="test.FullPanel"/>
      <class name="test.PanelWithDrawers"/>
      <class name="test.Sliding"/>
    </classes>
  </test>
</suite>
